asgiref
certifi
charset-normalizer
click
colorama
crispy-bootstrap5
distlib
Django
django-bootstrap5
django-crispy-forms
django-filter
django-widget-tweaks
djangorestframework
dlib
et_xmlfile
face-recognition
face_recognition_models
filelock
idna
Markdown
numpy
opencv-python
openpyxl
pillow
platformdirs
qrcode
requests
sqlparse
tzdata
urllib3
virtualenv
